@import "tailwindcss";

:root {
  /* Light theme (default) */
  --brand-text: #000;
  --brand-background: #fff;
  --brand-hover: #5b51d8;
  --typography-primary: #191A1A;
  --typography-secondary: #B3B3B3;
  --background-primary: #ffffff;
  --background-secondary: #f3f3f3;
  --background-tertiary: #e5e5e5;
  --border: #e0e0e0;
  --hover: #191A1A;
  --error: #ef4444;
  --error-text: #ffffff;
}

/* Dark theme */
[data-theme="dark"] {
  --brand-text: #fff;
  --brand-background: #191A1A;
  --brand-hover: #5b51d8;
  --typography-primary: #fff;
  --typography-secondary: #B3B3B3;
  --background-primary: #191A1A;
  --background-secondary: #202222;
  --background-tertiary: #434343;
  --border: #4C4C4C;
  --hover: #fff;
  --error: #ef4444;
  --error-text: #ffffff;
}

body {
  background: var(--background-primary);
  color: var(--typography-primary);
  font-family: Arial, Helvetica, sans-serif;
}
